<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!--
         standard routerでは以下のようなURL形式になる。
         <store-url>/<store-code>/<front-name>/<controller-name>/<action-name>
         idは通常frontNameと同じものを指定する。
         -->
        <route frontName="topic" id="topic">
            <module name="BitHive_Topic"/>
        </route>
    </router>
</config>
